/** @format */

.player {
	background-color: rgb(15, 15, 15);
	color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 140px;

	display: flex;
	align-items: center;

	overflow: hidden;
}

.player audio {
	visibility: hidden;
	width: 0;
	height: 0;
}

.timeline {
	position: absolute;
	bottom: 140px;
	height: 10px;
	left: 0;
	right: 0;
	background-color: rgb(177, 177, 177);
}

.yellowLine {
	height: 10px;
	width: 20%;
	background-color: yellow;
}

.songcover {
	height: 100%;
	width: 15%;
	object-fit: cover;
}

.playerContainer {
	width: 85%;
	text-align: center;
}

.audioplayer {
	width: 100%;
}

.controls {
	display: flex;
	justify-content: center;
}

.playButton {
	background: none;
	border: none;
	width: 40px;
	height: 40px;
	color: rgb(41, 41, 41);
	background-color: yellow;
	border-radius: 50%;
	margin: 10px 40px;

	display: flex;
	justify-content: center;
	align-items: center;
}
